.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(55, 65, 81, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  backdrop-filter: blur(3px);
}

.modal .close {
  background-color: #991b1b;
  padding: 0.3rem 0.8rem;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 2rem;
  display: inline-block;
  border-radius: 0.3rem;
  line-height: 2rem;
  cursor: pointer;
}

.chart {
  max-width: 100%;
  margin: auto;
  background-color: #18181ce6;
  border: 2px solid #404042;
  padding: 1rem;
  border-radius: 0.5rem;
}

.graph {
  height: 300px;
  margin: auto;
}

@media (min-width: 640px) {
  .chart {
    max-width: 600px;
  }
}
@media (min-width: 768px) {
  .chart {
    max-width: 700px;
  }
}
@media (min-width: 1024px) {
  .chart {
    max-width: 900px;
  }
}
